* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: pink;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: purple;
    padding: 30px;
}
.highScore,
.timer {
    font-size: 20px;
}
.main {
    display: flex;
    justify-content: center;
}
.para,
.title,
.start-btn-div {
    display: flex;
    justify-content: center;
}
.para{
    font-size: 20px;
}
.hide {
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn {
    text-align: left;
    border-radius: 7px;
    width: 100%;
    font-size: 1.8rem;
    border: 2px solid rgb(206, 67, 90);
    display: flex;
    margin: 5px;
}
.btn:hover {
    border: 2px solid darkred;
}
.questions-container, .final-container {
    border: 2px solid black;
    margin: 40px;
    border-radius: 5px;
    max-width: 900px;
    padding: 0 2rem;
    background-color: white;
}
.score-container, .enter-name {
    font-size: 20px;
}
.highScore {
    border: 1px solid black;
    padding: 5px;
}
.highScore:hover {
    color: rgb(73, 69, 69);
}
.questions-section {
    font-size: 25px;
}